.container {
    display: flex;
    width: 100%;
    background-color: #525252;
    margin-bottom: 20px;
    box-shadow: 0 8px 4px -2px gray;
    z-index: 1;
    margin-top: -0.5%;
}

.title {
    margin-left: 5%;
    color: white;
}